<div class="span5"></div>
<div class="span6">

	<h2>Sistema de Controle de Associados do Siredoc.</h2>
	<h4>Cadastro de Associados</h4>
	<p>
		Cadastramento de informações referentes aos Cartórios, Escrivaninhas de Paz e serventuários aposentados do estado de Santa Catarina.
		<br>
		São cadastradas informações de contato (endereço, telefones e e-mail), a comarca a qual pertence e um breve histórico dos atendimentos realizados.
	</p>
	<h4>Emissão de Etiquetas</h4>
	<p>
		Emissão de etiquetas para os registros cadastrados de acordo com filtros previamente selecionados.
		Estão disponiveis filtros para emissão de etiquetas por Comarca, Municipio, Tipo e por Tipo de uma determinada Comarca.
	</p>

</div>