<div class="span5"></div>
<div class="span6">
	<h3>Página de navegação no sistema</h3>
	<p>
		Escolha no menu a opção que deseja utilizar.
		<br>
		Você pode incluir novos registros, consultar, alterar e excluir registros específicos e, ainda excluir um determinado registro.
		<br>
		Poderá também listar todos os registros disponiveis por ordem alfabética, quando poderáa selecionar um registro especifico para alterar ou excluir.
	</p>
</div>